<div class="container" cdkDropListGroup>
    <div class="row">
        <div class="col">
            <h2 class="text-center">Submission Manager</h2>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <div class="row">
                <button class="btn btn-primary" (click)="compare()">COMPARE SUBMISSIONS</button>
            </div>
        </div>
    </div>
    <div class="row mb-3">
        <div class="col"  cdkDropList [cdkDropListData]="leftSubmissions" (cdkDropListDropped)="onDrop($event)">
            <h3>Left Submissions</h3>
            <div class="row border border-5 submission-box " style="max-height: 400px; overflow-y: auto;">
                <div class="col">
                    <table class="table">
                        <tbody>
                            @for(submission of leftSubmissions; track submission){
                                <tr cdkDrag>
                                    <td>{{submission.student_id}}</td>
                                    <td>{{submission.student_name}}</td>
                                    <td>{{submission.submission_name}}</td>
                                    <td>{{submission.submission_date}}</td>
                                    <td><button (click)="onRemove('left', submission.submission_id)" class="btn btn-warning">REMOVE</button></td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
            <button class="btn btn-primary" (click)="onEmpty('left')"> EMPTY </button>
        </div>
        <div class="col-2">
            
        </div>
        <div class="col" cdkDropList [cdkDropListData]="rightSubmissions" (cdkDropListDropped)="onDrop($event)">
            <h3>Right Submissions</h3>
            <div class="row border border-5 submission-box " style="max-height: 400px; overflow-y: auto;">
                <div class="col">
                    <table class="table">
                        <tbody>
                            @for(submission of rightSubmissions; track submission){
                                <tr cdkDrag>
                                    <td>{{submission.student_id}}</td>
                                    <td>{{submission.student_name}}</td>
                                    <td>{{submission.submission_name}}</td>
                                    <td>{{submission.submission_date}}</td>
                                    <td><button (click)="onRemove('right', submission.submission_id)" class="btn btn-warning">REMOVE</button></td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
                
            </div>
            <button class="btn btn-primary" (click)="onEmpty('right')"> EMPTY </button>
        </div>
    </div>
<br>
<br>
<br>
    <div class="row all-submissions" cdkDropList [cdkDropListData]="submissions" (cdkDropListDropped)="onDrop($event)" >
        <div class="col">
            <h3>All Submissions</h3>
            <form (submit)="onSubmitFilters()" [formGroup]="formFilters">
                <div class="row">
                    <div class="col-2">
                        <label for="init_date">From: </label>
                        <input type="date" class="form-control" formControlName="init_date">
                    </div>
                    <div class="col-2">
                        <label for="end_date">To: </label>
                        <input type="date" class="form-control" formControlName="end_date">
                    </div>
                    <div class="col-2">
                        <label for="student_id">Student ID: </label>
                        <input type="string" maxlength="9" minlength="9" class="form-control" formControlName="student_id">
                    </div>
                    <div class="col-2">
                        <label for="student_id">Subject: </label>
                        <input type="string" maxlength="20" class="form-control" formControlName="subject">
                    </div>
                    <div class="col-2">
                        <label for="student_id">Submission Name: </label>
                        <input type="string" maxlength="20" class="form-control" formControlName="name">
                    </div>
                    <div class="col-2">
                        <button type=submit class="btn btn-warning">Apply Filters</button>
                        <br>
                        
                    </div>
                </div>
            </form>
            <button (click)="onClearFilters()" class="btn btn-warning">Apply Filters</button>
            <div class="row">
                <div class="col d-flex">
                    <button class="btn btn-primary" (click)="addAll('left')"> ADD ALL TO THE LEFT</button>
                    <button class="btn btn-success ms-auto" (click)="addAll('right')"> ADD ALL TO THE RIGHT</button>
                </div>
            </div>
            
            <table class="table">
                <thead>
                    <tr>
                        <th>Student ID</th>
                        <th>Student Name</th>
                        <th>Submission Name</th>
                        <th>Submission Date</th>
                    </tr>
                </thead>
                <tbody>
                    @for(submission of submissions; track submission){
                        <tr cdkDrag class="border border-2">
                            <td>{{submission.student_id}}</td>
                            <td>{{submission.student_name}}</td>
                            <td>{{submission.submission_name}}</td>
                            <td>{{submission.submission_date}}</td>
                            <td><button (click)="onDelete(submission.submission_id)" class="btn btn-danger">DELETE</button></td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>