<div class="container" cdkDropListGroup style="background-color: #32486d;">
    <div class="row">
        <div class="col">
            <h2 class="text-center text-white">Submission Manager</h2>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <div class="row">
                <button class="btn btn-primary" (click)="compare()">COMPARE SUBMISSIONS</button>
            </div>
        </div>
    </div>
    <div class="row mb-3">
        <div class="col-5"  cdkDropList [cdkDropListData]="leftSubmissions" (cdkDropListDropped)="onDrop($event)">
            <h3 class="text-white">Left Submissions</h3>
            <div class="row border border-5 border-black submission-box " style="max-height: 200px; overflow-y: auto; max-width: 500px; overflow-x: auto;">
                <div class="col bg-white">
                    <table class="table">
                        <tbody>
                            @for(submission of leftSubmissions; track submission){
                                <tr cdkDrag>
                                    <td>{{submission.student_id}}</td>
                                    <td>{{submission.student_name}}</td>
                                    <td>{{submission.submission_name}}</td>
                                    <td>{{submission.submission_date | date:'dd MMMM yyyy, HH:mm'}}</td>
                                    <td><button (click)="onRemove('left', submission.submission_id)" class="btn btn-warning">REMOVE</button></td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
            <button class="btn btn-primary" (click)="onEmpty('left')"> EMPTY </button>
        </div>
        <div class="col-2">
            
        </div>
        <div class="col-5" cdkDropList [cdkDropListData]="rightSubmissions" (cdkDropListDropped)="onDrop($event)">
            <h3 class="text-white">Right Submissions</h3>
            <div class="row border border-5 border-black submission-box " style="max-height: 200px; overflow-y: auto;  max-width: 500px; overflow-x: auto;">
                <div class="col bg-white">
                    <table class="table">
                        <tbody>
                            @for(submission of rightSubmissions; track submission){
                                <tr cdkDrag>
                                    <td>{{submission.student_id}}</td>
                                    <td>{{submission.student_name}}</td>
                                    <td>{{submission.submission_name}}</td>
                                    <td>{{submission.submission_date | date:'dd MMMM yyyy, HH:mm'}}</td>
                                    <td><button (click)="onRemove('right', submission.submission_id)" class="btn btn-warning">REMOVE</button></td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
                
            </div>
            <button class="btn btn-primary" (click)="onEmpty('right')"> EMPTY </button>
        </div>
    </div>
<br>
<br>
<br>
    <div class="row all-submissions" cdkDropList [cdkDropListData]="submissions" (cdkDropListDropped)="onDrop($event)" >
        <div class="col">
            <h3 class="text-white">All Submissions</h3>
            <form (submit)="onSubmitFilters()" [formGroup]="formFilters">
                <div class="row">
                    <div class="col-2">
                        <label class="text-white" for="init_date">From: </label>
                        <input type="date" class="form-control" formControlName="init_date">
                    </div>
                    <div class="col-2">
                        <label class="text-white" for="end_date">To: </label>
                        <input type="date" class="form-control" formControlName="end_date">
                    </div>
                    <div class="col-2">
                        <label class="text-white" for="student_id">Student ID: </label>
                        <input type="string" maxlength="9" minlength="9" class="form-control" formControlName="student_id">
                    </div>
                    <div class="col-2">
                        <label class="text-white" for="student_id">Subject: </label>
                        <input type="string" maxlength="20" class="form-control" formControlName="subject">
                    </div>
                    <div class="col-2">
                        <label class="text-white" for="student_id">Submission Name: </label>
                        <input type="string" maxlength="20" class="form-control" formControlName="name">
                    </div>
                    <div class="col-2 align-items-center">
                        <button type=submit class="btn mt-4 btn-success">Apply Filters</button>
                    </div>
                </div>
            </form>
            <button (click)="onClearFilters()" class="btn" style="background-color: orange;">Clear Filters</button>
            <br>
            <br>
            <div class="row">
                <div class="col d-flex">
                    <button class="btn btn-primary" (click)="addAll('left')"> ADD ALL TO THE LEFT</button>
                    <button class="btn btn-success ms-auto" (click)="addAll('right')"> ADD ALL TO THE RIGHT</button>
                </div>
            </div>
            <div class="table-container" style="max-height: 300px; overflow-y: auto;">
                <table class="table">
                    <thead>
                        <tr>
                            <th>Student ID</th>
                            <th>Student Name</th>
                            <th>Submission Name</th>
                            <th>Submission Date</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        @for(submission of submissions; track submission){
                            <tr cdkDrag class="border border-2">
                                <td>{{submission.student_id}}</td>
                                <td>{{submission.student_name}}</td>
                                <td>{{submission.submission_name}}</td>
                                <td>{{submission.submission_date | date:'dd MMMM yyyy, HH:mm'}}</td>
                                <td><button (click)="onDelete(submission.submission_id)" class="btn btn-danger">DELETE</button></td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
