.submission-box {
    min-height: 200px;
}

.all-submissions {
    min-height: 400px;
}

.table-container {
    max-height: 300px; /* Adjust the max height as needed */
    overflow-y: auto;
}

/* Optional: To ensure the table header is always visible */
.table-container table thead th {
    position: sticky;
    top: 0;
    background-color: #fff; /* Or match the table header's background */
}