<div class="container border border-2 border-black">
    <div class="row pb-5 align-items-center" style="background-color: #32486d;" >
        <div class="col-3" >
          <img src="../../assets/logo.png" alt="">
        </div>
        <div class="col-9">
          <h1 class="text-center fw-bold" style="color: lightyellow; font-size: 10rem;">
            CODE PATROL
          </h1>
        </div>
    </div>
    <hr>
    <div class="row pt-5 justify-content-center" style="background-color: #32486d;">
        <div class="col justify-content-center" >
          <div>
            <h2 class="text-white">Upload ZIP File</h2>
            <form  (ngSubmit)="onSubmit()" [formGroup]="form">
              <div class="row text-center p-5">
                <div class="col-5">
                  <div class="bg-white">
                    <label for="file">Select ZIP file: </label>
                    <input class="ms-2" type="file" id="file" (change)="onFileChange($event)" required>
                  </div>
                </div>
              </div>
              
              <div class="form-check">
                <input class="form-check-input" (change)="onCheckboxChange($event)" type="checkbox" id="flexCheckDefault">
                <label class="form-check-label text-white" for="flexCheckDefault">
                  Compare with database
                </label>
              </div>
              <button class="btn btn-danger" type="submit" [disabled]="!file">Check Plagiarism</button>
            </form>
          </div>
        </div>
    </div>
    
</div>
