<footer class=" footer text-center text-white " style="background-color: #32486d;" >

    <div class="container p-4">

      <div class="row justify-content-center">

        <div class="col-lg-6 col-md-12 mb-4 mb-md-0">
          <h5 class="text-uppercase">Code Patrol</h5>
  
          <p>
            CodePatrol is an innovative tool designed to support educational institutions in upholding academic integrity.
            By leveraging advanced algorithms, CodePatrol provides robust plagiarism detection and detailed analysis of student submissions.
          </p>
        </div>

      </div>

    </div>


    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
      © 2024 Copyright:
      <a class="text-yellow" href="home">CODE PATROL</a>
    </div>

</footer>